<!DOCTYPE html>

<html>
    <head>
        <meta charset='utf-8'>
        <title>Up Or Down - An open source share value predictor</title>
    </head>
    <style>
        .header{
            width: 80%;
            margin: 0 auto;
            height: 100px;
            background-color: #003da1;
            border-radius: 3px;
            color:#fefefe;
            text-align: center;
            vertical-align: center;
        }
    </style>
    <body>
        <div class='header'>
            Up or Down
        </div>
        <div class='content'>
        </div>
    </body>
</html>